.about_us {
  height: auto;
  background: no-repeat center / cover url(../img/bg/bg_footer.jpg);
  position: relative;
}
.about_us-shadow {
  height: 100%;
  width: 100%;
  position: static;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px 20px;
}
.about_motoclub {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}
@media (min-width: 1230px) {
  .about_motoclub {
    text-align: inherit;
    align-items: baseline;
  }
}
.about_motoclub .button {
  margin-top: 30px;
}
.latest_event {
  width: 370px;
  margin-bottom: 100px;
}

.contact_info {
  width: 370px;
  text-align: center;
}
@media (min-width: 1230px) {
  .contact_info {
    text-align: inherit;
  }
}
.event {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}
.event:last-child {
  margin-bottom: 30px;
}
@media (min-width: 1230px) {
  .event:last-child {
    margin-bottom: 0px;
  }
}
.event-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 63px;
  background-color: #ce0000;
  text-align: center;
  margin-right: 20px;
}
.event-data__month {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.event-data__number {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}
.event-desk__title {
  font-size: 20px;
  line-height: 2.1;
  text-transform: uppercase;
}
.phone {
  display: block;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 50px;
}
@media (min-width: 1230px) {
  .phone {
    font-size: 45px;
  }
}
.address {
  margin-bottom: 50px;
}
.address__title {
  font-size: 20px;
  line-height: 2.1;
  text-transform: uppercase;
}
.email {
  display: flex;
  align-items: baseline;
}
.email span {
  display: block;
  font-size: 20px;
  line-height: 2.1;
  margin-right: 20px;
}
.email a {
  display: block;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.7;
  text-decoration: none;
}
.copyright {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
}
@media (min-width: 1230px) {
  .copyright {
    height: 75px;
  }
}
.copyright p {
  font-size: 17px;
  line-height: 2.4;
}

/* ========================common================================= */
.about_us__title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (min-width: 1230px) {
  .about_us__title {
    text-align: inherit;
  }
}
.about_us p {
  font-size: 17px;
  line-height: 1.7;
}
