.contacts {
  height: 100%;
  background-image: url(../img/bg/bg_footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
@media (min-width: 1230px) {
  .contacts {
    height: 670px;
  }
}
.contacts-shadow {
  height: 100%;
  width: 100%;
  position: static;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
}
@media (min-width: 1230px) {
  .contacts-shadow {
    padding: 110px 160px;
  }
}
.contacts-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1230px) {
  .contacts-row {
    flex-direction: row;
    justify-content: space-between;
  }
}
.contacts-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 1230px) {
  .contacts-about {
    width: 370px;
    align-items: flex-start;
    text-align: inherit;
  }
}
.contact-title {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contacts-about p {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 20px;
}
@media (min-width: 1230px) {
  .contacts-about p {
    font-size: 17px;
    margin-bottom: 50px;
  }
}
.contacts-latest {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
@media (min-width: 1230px) {
  .contacts-latest {
    width: 340px;
    align-items: baseline;
  }
}
.event {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 30px;
}
@media (min-width: 1230px) {
  .event {
    justify-content: space-between;
  }
}
.event:last-child {
  margin-bottom: 30px;
}
@media (min-width: 1230px) {
  .event:last-child {
    margin-bottom: 0px;
  }
}
.event-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 63px;
  background-color: #ce0000;
  text-align: center;
  margin-right: 20px;
}
.event-data__month {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.14px;
}
.event-data__number {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.32px;
}
.event-desk__title {
  font-size: 17px;
  letter-spacing: -0.42px;
  line-height: 2.1;
  text-transform: uppercase;
}
.event-desk p {
  font-size: 14px;
  line-height: 1.7;
}
@media (min-width: 1230px) {
  .event-desk p {
    font-size: 17px;
    margin: 0px;
  }
}
.contacts-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 1230px) {
  .contacts-info {
    align-items: baseline;
    text-align: initial;
  }
}
.phone {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 30px;
}
@media (min-width: 1230px) {
  .phone {
    font-size: 45px;
  }
}
.address {
  width: 100%;
  height: 100%;
}
@media (min-width: 1230px) {
  .address {
    width: 253px;
    height: 195px;
  }
}
.address__title {
  font-size: 17px;
  line-height: 2.1;
  text-transform: uppercase;
}
.address p {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
}
@media (min-width: 1230px) {
  .address p {
    font-size: 17px;
    margin-bottom: 40px;
  }
}
.address-email {
  font-size: 17px;
  line-height: 2.1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1230px) {
  .address__email {
    font-size: 14px;
  }
}
.mail {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}
.copyright {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 20px;
}
@media (min-width: 1230px) {
  .copyright {
    height: 75px;
    text-align: inherit;
    padding: 0;
  }
}
.copyright p {
  font-size: 14px;
  line-height: 2.4;
}
