.shop {
  height: auto;
  background: no-repeat 0% 40% / cover url(../img/bg/bg_shop.jpg);
  position: relative;
}
.shop-shadow {
  height: 100%;
  width: 100%;
  position: static;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 100px 0px;
}
.shop-desk {
  margin-bottom: 50px;
}
.shop-desk__title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (min-width: 1230px) {
  .shop-desk__title {
    font-size: 40px;
    text-align: inherit;
  }
}
.shop-desk p {
  font-size: 17px;
  text-align: center;
}
@media (min-width: 1230px) {
  .shop-desk p {
    text-align: inherit;
  }
}
.shop-slider {
  position: relative;
}
.shop .owl-carousel.owl-drag .owl-item {
  height: 250px;
  position: relative;
}
.shop .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 50px;
}
.shop .owl-theme .owl-dots .owl-dot span {
  background: #ce0000;
}
.shop .owl-theme .owl-dots .owl-dot.active span,
.shop .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff;
}
.shop .item {
  height: 230px;
}
.shop .owl-carousel .owl-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.shop-slider-bike__button {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  margin-bottom: 5px;
}
.shop-slider-controls button {
  background: none;
  border: none;
}
.arrow {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 33px;
  text-decoration: none;
  transition: color 0.2s ease-in;
  padding: 15px;
  cursor: pointer;
}
@media (min-width: 1300px) {
  .arrow {
    display: block;
    text-align: inherit;
  }
}
.arrow i {
  outline-color: #aaaaaa;
}
.arrow-left {
  left: -7%;
}
.arrow-right {
  right: -7%;
}
.arrow:hover {
  color: #ce0000;
}
