@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,regular,italic,700,900,&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-right:before {
  content: "\e900";
}

._icon-arrow-left:before {
  content: "\e901";
}

._icon-youtube:before {
  content: "\e902";
}

._icon-instagram:before {
  content: "\e903";
}

._icon-twitter:before {
  content: "\e904";
}

._icon-facebook:before {
  content: "\e905";
}

._icon-motorcycle:before {
  content: "\e906";
}

._icon-key:before {
  content: "\e98d";
}

._icon-settings:before {
  content: "\e992";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Lato";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #1b1b1b;
  line-height: 1.2;
  font-weight: regular;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

/*------------ Button ------------*/

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  text-align: center;
  background: #ce0000;
  padding: 0.875rem 0.9375rem;
  white-space: nowrap;
  border: 0.0625rem solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (font-size: clamp( 1.125rem , 1.0370879121rem  +  0.4395604396vw , 1.375rem )) {
  .button {
    font-size: clamp( 1.125rem , 1.0370879121rem  +  0.4395604396vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0370879121rem  +  0.4395604396vw , 1.375rem )) {
  .button {
    font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 56.875);
  }
}

.button-border {
  background: transparent;
  border: 0.0625rem solid #ffffff;
}

.bg {
  position: relative;
}

.bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: hsla(0deg, 0%, 0%, 0.5);
}

.z-i {
  position: relative;
  z-index: 2;
}

/*------------ Arrows-slider ------------*/

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  margin-top: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrows button {
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.arrows button:hover {
  background-color: rgba(255, 255, 255, 0.4509803922);
}

/*------------ titles/paragraphs ------------*/

h2 {
  font-weight: 700;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.875rem , 1.6552197802rem  +  1.0989010989vw , 2.5rem )) {
  h2 {
    font-size: clamp( 1.875rem , 1.6552197802rem  +  1.0989010989vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.6552197802rem  +  1.0989010989vw , 2.5rem )) {
  h2 {
    font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 56.875);
  }
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.25rem , 1.1401098901rem  +  0.5494505495vw , 1.5625rem )) {
  h3 {
    font-size: clamp( 1.25rem , 1.1401098901rem  +  0.5494505495vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1401098901rem  +  0.5494505495vw , 1.5625rem )) {
  h3 {
    font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 56.875);
  }
}

h4 {
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem )) {
  h4 {
    font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem )) {
  h4 {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 56.875);
  }
}

/*------------ SCROLL BAR ------------*/

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #474545;
}

::-webkit-scrollbar-thumb {
  background-color: #ad0101;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #df3c3c;
}

/*==================== HEADER ====================*/

.header {
  position: relative;
  background-color: #ce0000;
  z-index: 5;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (min-height: clamp( 3.125rem , 2.6854395604rem  +  2.1978021978vw , 4.375rem )) {
  .header__container {
    min-height: clamp( 3.125rem , 2.6854395604rem  +  2.1978021978vw , 4.375rem );
  }
}

@supports not (min-height: clamp( 3.125rem , 2.6854395604rem  +  2.1978021978vw , 4.375rem )) {
  .header__container {
    min-height: calc(3.125rem + 1.25 * (100vw - 20rem) / 56.875);
  }
}

.header__logo {
  color: #ffffff;
  text-transform: uppercase;
}

.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (font-size: clamp( 1.125rem , 0.8612637363rem  +  1.3186813187vw , 1.875rem )) {
  .header__logo {
    font-size: clamp( 1.125rem , 0.8612637363rem  +  1.3186813187vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.8612637363rem  +  1.3186813187vw , 1.875rem )) {
  .header__logo {
    font-size: calc(1.125rem + 0.75 * (100vw - 20rem) / 56.875);
  }
}

.header__logo strong {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

@supports (margin-left: clamp( 0.0000000625rem , -0.2197801353rem  +  1.098900989vw , 0.625rem )) {
  .header__logo strong {
    margin-left: clamp( 0.0000000625rem , -0.2197801353rem  +  1.098900989vw , 0.625rem );
  }
}

@supports not (margin-left: clamp( 0.0000000625rem , -0.2197801353rem  +  1.098900989vw , 0.625rem )) {
  .header__logo strong {
    margin-left: calc(0.0000000625rem + 0.6249999375 * (100vw - 20rem) / 56.875);
  }
}

.header__logo span {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem ))) {
  .header__social {
    -webkit-column-gap: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem );
       -moz-column-gap: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem );
            column-gap: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem ))) {
  .header__social {
    -webkit-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
       -moz-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
            column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
  }
}

@supports (font-size: clamp( 1rem , 0.8461538462rem  +  0.7692307692vw , 1.4375rem )) {
  .header__social {
    font-size: clamp( 1rem , 0.8461538462rem  +  0.7692307692vw , 1.4375rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8461538462rem  +  0.7692307692vw , 1.4375rem )) {
  .header__social {
    font-size: calc(1rem + 0.4375 * (100vw - 20rem) / 56.875);
  }
}

.header__link {
  color: #ffffff;
}

.header__menu {
  position: absolute;
  top: 4.375rem;
  left: 0;
}

.menu__body {
  left: -100%;
}

.menu__list {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.menu__link {
  text-transform: uppercase;
  line-height: 2.4;
}

/* Burger */

.icon-menu {
  display: none;
}

.footer {
  background-color: #222222;
}

.footer__header .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (padding-top: clamp( 1.25rem , 0.0631868132rem  +  5.9340659341vw , 4.625rem )) {
  .footer__header .footer__container {
    padding-top: clamp( 1.25rem , 0.0631868132rem  +  5.9340659341vw , 4.625rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.0631868132rem  +  5.9340659341vw , 4.625rem )) {
  .footer__header .footer__container {
    padding-top: calc(1.25rem + 3.375 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.3708791209rem  +  4.3956043956vw , 3.75rem )) {
  .footer__header .footer__container {
    padding-bottom: clamp( 1.25rem , 0.3708791209rem  +  4.3956043956vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.3708791209rem  +  4.3956043956vw , 3.75rem )) {
  .footer__header .footer__container {
    padding-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 56.875);
  }
}

.no-webp .footer__main{
  background: url(../img/bg/bg_footer.jpg) top/cover no-repeat; }

@supports (padding-top: clamp( 1.875rem , 0.1167582418rem  +  8.7912087912vw , 6.875rem )) {
  .footer__main {
    padding-top: clamp( 1.875rem , 0.1167582418rem  +  8.7912087912vw , 6.875rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.1167582418rem  +  8.7912087912vw , 6.875rem )) {
  .footer__main {
    padding-top: calc(1.875rem + 5 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.9821428571rem  +  14.2857142857vw , 10rem )) {
  .footer__main {
    padding-bottom: clamp( 1.875rem , -0.9821428571rem  +  14.2857142857vw , 10rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.9821428571rem  +  14.2857142857vw , 10rem )) {
  .footer__main {
    padding-bottom: calc(1.875rem + 8.125 * (100vw - 20rem) / 56.875);
  }
}

.footer__main .footer__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  position: relative;
  z-index: 1;
  gap: 4.375rem;
}

.footer__copyright {
  text-align: center;
}

@supports (padding-top: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
  .footer__copyright {
    padding-top: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
  .footer__copyright {
    padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
  .footer__copyright {
    padding-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
  .footer__copyright {
    padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem )) {
  .about-footer__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem )) {
  .about-footer__title:not(:last-child) {
    margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 56.875);
  }
}

.about-footer__text {
  font-size: 1.0625rem;
  color: #858585;
  line-height: 1.7;
}

@supports (margin-bottom: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem )) {
  .about-footer__text:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem )) {
  .about-footer__text:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem )) {
  .latest-footer__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem )) {
  .latest-footer__title:not(:last-child) {
    margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 56.875);
  }
}

.latest-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
}

.latest-footer__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.latest-footer__day {
  width: 3.9375rem;
  height: 3.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ce0000;
  text-transform: uppercase;
}

.latest-footer__day span {
  font-size: 1.875rem;
  font-weight: 700;
}

.latest-footer__event:not(:last-child) {
  margin-bottom: 0.625rem;
}

.latest-footer__text {
  font-size: 1.0625rem;
  color: #858585;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem )) {
  .contact-footer__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem )) {
  .contact-footer__title:not(:last-child) {
    margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 56.875);
  }
}

.contact-footer__phone {
  display: block;
  font-weight: 700;
}

@supports (font-size: clamp( 1.5625rem , 1.2328296703rem  +  1.6483516484vw , 2.5rem )) {
  .contact-footer__phone {
    font-size: clamp( 1.5625rem , 1.2328296703rem  +  1.6483516484vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.2328296703rem  +  1.6483516484vw , 2.5rem )) {
  .contact-footer__phone {
    font-size: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7664835165rem  +  2.4175824176vw , 2.625rem )) {
  .contact-footer__phone:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.7664835165rem  +  2.4175824176vw , 2.625rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7664835165rem  +  2.4175824176vw , 2.625rem )) {
  .contact-footer__phone:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.375 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem )) {
  .contact-footer__adress h4:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem )) {
  .contact-footer__adress h4:not(:last-child) {
    margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 56.875);
  }
}

.contact-footer__adress p {
  font-size: 1.0625rem;
  color: #858585;
}

@supports (margin-bottom: clamp( 2.1875rem , 1.7479395604rem  +  2.1978021978vw , 3.4375rem )) {
  .contact-footer__adress:not(:last-child) {
    margin-bottom: clamp( 2.1875rem , 1.7479395604rem  +  2.1978021978vw , 3.4375rem );
  }
}

@supports not (margin-bottom: clamp( 2.1875rem , 1.7479395604rem  +  2.1978021978vw , 3.4375rem )) {
  .contact-footer__adress:not(:last-child) {
    margin-bottom: calc(2.1875rem + 1.25 * (100vw - 20rem) / 56.875);
  }
}

.contact-footer__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.contact-footer__subtitle {
  text-transform: none;
}

.contact-footer__email {
  font-size: 1.0625rem;
  color: #858585;
}

.contact-footer__email a {
  display: block;
}

.contact-footer__email a:not(:last-child) {
  margin-bottom: 0.625rem;
}

/*==================== PAGE-MAIN ====================*/

.no-webp .page-main{
  background: url(../img/main-background.jpg) center/cover no-repeat; }

.page-main__container {
  position: relative;
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.page-main__content {
  text-align: center;
}

.page-main__title {
  text-transform: uppercase;
  font-weight: 900;
}

@supports (font-size: clamp( 3.75rem , 2.4313186813rem  +  6.5934065934vw , 7.5rem )) {
  .page-main__title {
    font-size: clamp( 3.75rem , 2.4313186813rem  +  6.5934065934vw , 7.5rem );
  }
}

@supports not (font-size: clamp( 3.75rem , 2.4313186813rem  +  6.5934065934vw , 7.5rem )) {
  .page-main__title {
    font-size: calc(3.75rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

.page-main__text {
  line-height: 1.5;
  font-weight: 300;
}

@supports (font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem )) {
  .page-main__text {
    font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem )) {
  .page-main__text {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem )) {
  .page-main__text:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem )) {
  .page-main__text:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 56.875);
  }
}

/*==================== PAGE-SLIDER ====================*/

.page-slider {
  position: relative;
  max-width: 72.9375rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ce0000;
  z-index: 5;
}

@supports (row-gap: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem )) {
  .page-slider {
    row-gap: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem );
  }
}

@supports not (row-gap: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem )) {
  .page-slider {
    row-gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-top: clamp( 0.9375rem , -0.095467033rem  +  5.1648351648vw , 3.875rem )) {
  .page-slider {
    padding-top: clamp( 0.9375rem , -0.095467033rem  +  5.1648351648vw , 3.875rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , -0.095467033rem  +  5.1648351648vw , 3.875rem )) {
  .page-slider {
    padding-top: calc(0.9375rem + 2.9375 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.4031593407rem  +  6.7032967033vw , 4.75rem )) {
  .page-slider {
    padding-bottom: clamp( 0.9375rem , -0.4031593407rem  +  6.7032967033vw , 4.75rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.4031593407rem  +  6.7032967033vw , 4.75rem )) {
  .page-slider {
    padding-bottom: calc(0.9375rem + 3.8125 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-left: clamp( 0.9375rem , 0.0364010989rem  +  4.5054945055vw , 3.5rem )) {
  .page-slider {
    padding-left: clamp( 0.9375rem , 0.0364010989rem  +  4.5054945055vw , 3.5rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , 0.0364010989rem  +  4.5054945055vw , 3.5rem )) {
  .page-slider {
    padding-left: calc(0.9375rem + 2.5625 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-right: clamp( 0.9375rem , 0.0364010989rem  +  4.5054945055vw , 3.5rem )) {
  .page-slider {
    padding-right: clamp( 0.9375rem , 0.0364010989rem  +  4.5054945055vw , 3.5rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , 0.0364010989rem  +  4.5054945055vw , 3.5rem )) {
  .page-slider {
    padding-right: calc(0.9375rem + 2.5625 * (100vw - 20rem) / 56.875);
  }
}

.page-slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@supports (row-gap: clamp( 0.9375rem , 0.4979395604rem  +  2.1978021978vw , 2.1875rem )) {
  .page-slider__content {
    row-gap: clamp( 0.9375rem , 0.4979395604rem  +  2.1978021978vw , 2.1875rem );
  }
}

@supports not (row-gap: clamp( 0.9375rem , 0.4979395604rem  +  2.1978021978vw , 2.1875rem )) {
  .page-slider__content {
    row-gap: calc(0.9375rem + 1.25 * (100vw - 20rem) / 56.875);
  }
}

.page-slider__text {
  font-size: 1.0625rem;
}

.page-slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.4739010989rem  +  5.4945054945vw , 3.75rem )) or (column-gap: clamp( 0.625rem , -0.4739010989rem  +  5.4945054945vw , 3.75rem ))) {
  .page-slider__controls {
    -webkit-column-gap: clamp( 0.625rem , -0.4739010989rem  +  5.4945054945vw , 3.75rem );
       -moz-column-gap: clamp( 0.625rem , -0.4739010989rem  +  5.4945054945vw , 3.75rem );
            column-gap: clamp( 0.625rem , -0.4739010989rem  +  5.4945054945vw , 3.75rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.4739010989rem  +  5.4945054945vw , 3.75rem )) or (column-gap: clamp( 0.625rem , -0.4739010989rem  +  5.4945054945vw , 3.75rem ))) {
  .page-slider__controls {
    -webkit-column-gap: calc(0.625rem + 3.125 * (100vw - 20rem) / 56.875);
       -moz-column-gap: calc(0.625rem + 3.125 * (100vw - 20rem) / 56.875);
            column-gap: calc(0.625rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

.page-slider__slider {
  max-width: 38.9375rem;
}

.page-slider__slide {
  border: 0.3125rem solid #ffffff;
}

.page-slider__slide img {
  width: 100%;
  height: 100%;
}

.page-slider__arrows {
  gap: 1.875rem;
  margin-top: 0;
}

/*==================== OUR-RIDER-PAGE ====================*/

@supports (padding-top: clamp( 1.875rem , -0.7623626374rem  +  13.1868131868vw , 9.375rem )) {
  .page-our-rider {
    padding-top: clamp( 1.875rem , -0.7623626374rem  +  13.1868131868vw , 9.375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.7623626374rem  +  13.1868131868vw , 9.375rem )) {
  .page-our-rider {
    padding-top: calc(1.875rem + 7.5 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 1.25rem , -1.3434065934rem  +  12.967032967vw , 8.625rem )) {
  .page-our-rider__container:not(:last-child) {
    margin-bottom: clamp( 1.25rem , -1.3434065934rem  +  12.967032967vw , 8.625rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.3434065934rem  +  12.967032967vw , 8.625rem )) {
  .page-our-rider__container:not(:last-child) {
    margin-bottom: calc(1.25rem + 7.375 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.2342032967rem  +  3.5164835165vw , 2.9375rem )) {
  .page-our-rider__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.2342032967rem  +  3.5164835165vw , 2.9375rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.2342032967rem  +  3.5164835165vw , 2.9375rem )) {
  .page-our-rider__title:not(:last-child) {
    margin-bottom: calc(0.9375rem + 2 * (100vw - 20rem) / 56.875);
  }
}

@supports (font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem )) {
  .page-our-rider__text {
    font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem )) {
  .page-our-rider__text {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 56.875);
  }
}

.page-our-rider__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-our-rider__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.page-our-rider__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

/*==================== SERVICES-PAGE ====================*/

.no-webp .page-servises{
  background: url(../img/bg/bg_services.jpg) top/cover no-repeat; }

@supports (padding-top: clamp( 1.875rem , -1.2019230769rem  +  15.3846153846vw , 10.625rem )) {
  .page-servises {
    padding-top: clamp( 1.875rem , -1.2019230769rem  +  15.3846153846vw , 10.625rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -1.2019230769rem  +  15.3846153846vw , 10.625rem )) {
  .page-servises {
    padding-top: calc(1.875rem + 8.75 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.0068681319rem  +  9.3406593407vw , 7.1875rem )) {
  .page-servises {
    padding-bottom: clamp( 1.875rem , 0.0068681319rem  +  9.3406593407vw , 7.1875rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.0068681319rem  +  9.3406593407vw , 7.1875rem )) {
  .page-servises {
    padding-bottom: calc(1.875rem + 5.3125 * (100vw - 20rem) / 56.875);
  }
}

.page-servises__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.page-servises__item {
  max-width: 28.125rem;
}

@supports (margin-bottom: clamp( 0.625rem , 0.0755494505rem  +  2.7472527473vw , 2.1875rem )) {
  .page-servises__title:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.0755494505rem  +  2.7472527473vw , 2.1875rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.0755494505rem  +  2.7472527473vw , 2.1875rem )) {
  .page-servises__title:not(:last-child) {
    margin-bottom: calc(0.625rem + 1.5625 * (100vw - 20rem) / 56.875);
  }
}

@supports (font-size: clamp( 1rem , 0.978021978rem  +  0.1098901099vw , 1.0625rem )) {
  .page-servises__text {
    font-size: clamp( 1rem , 0.978021978rem  +  0.1098901099vw , 1.0625rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.978021978rem  +  0.1098901099vw , 1.0625rem )) {
  .page-servises__text {
    font-size: calc(1rem + 0.0625 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem )) {
  .page-servises__text:not(:last-child) {
    margin-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem )) {
  .page-servises__text:not(:last-child) {
    margin-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 56.875);
  }
}

/*==================== TESTMOINALS-PAGE ====================*/

.no-webp .page-testmoinals{
  background: url(../img/bg/bg_comment.jpg) top/cover no-repeat; }

@supports (padding-top: clamp( 1.875rem , 0.6002747253rem  +  6.3736263736vw , 5.5rem )) {
  .page-testmoinals {
    padding-top: clamp( 1.875rem , 0.6002747253rem  +  6.3736263736vw , 5.5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.6002747253rem  +  6.3736263736vw , 5.5rem )) {
  .page-testmoinals {
    padding-top: calc(1.875rem + 3.625 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.3914835165rem  +  2.4175824176vw , 3.25rem )) {
  .page-testmoinals {
    padding-bottom: clamp( 1.875rem , 1.3914835165rem  +  2.4175824176vw , 3.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3914835165rem  +  2.4175824176vw , 3.25rem )) {
  .page-testmoinals {
    padding-bottom: calc(1.875rem + 1.375 * (100vw - 20rem) / 56.875);
  }
}

.page-testmoinals__img {
  width: 7.1875rem;
  height: 7.1875rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.page-testmoinals__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@supports (margin-bottom: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem )) {
  .page-testmoinals__img:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem )) {
  .page-testmoinals__img:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 56.875);
  }
}

.page-testmoinals__text {
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
}

@supports (margin-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem )) {
  .page-testmoinals__text:not(:last-child) {
    margin-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem )) {
  .page-testmoinals__text:not(:last-child) {
    margin-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 56.875);
  }
}

.page-testmoinals__title {
  font-weight: 700;
}

.page-testmoinals__subtitle {
  font-size: 1rem;
  font-style: italic;
}

/*==================== SHOP-PAGE ====================*/

.no-webp .page-shop{
  background: url(../img/bg/bg_shop.jpg) center/cover no-repeat; }

@supports (padding-top: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
  .page-shop {
    padding-top: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
  .page-shop {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5563186813rem  +  6.5934065934vw , 5.625rem )) {
  .page-shop {
    padding-bottom: clamp( 1.875rem , 0.5563186813rem  +  6.5934065934vw , 5.625rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5563186813rem  +  6.5934065934vw , 5.625rem )) {
  .page-shop {
    padding-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.0625rem )) {
  .page-shop__content:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.0625rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.0625rem )) {
  .page-shop__content:not(:last-child) {
    margin-bottom: calc(1.875rem + 2.1875 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem )) {
  .page-shop__title:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem )) {
  .page-shop__title:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 56.875);
  }
}

@supports (font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem )) {
  .page-shop__text {
    font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem )) {
  .page-shop__text {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 56.875);
  }
}

.slider-shop {
  position: relative;
  margin-bottom: 1.875rem;
}

.slider-shop__img {
  width: 100%;
  height: 15.625rem;
}

.slider-shop__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slider-shop__link {
  position: absolute;
  bottom: -1.875rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*==================== BLOG-PAGE ====================*/

.page-blog__content {
  background: #ce0000;
  padding: 8.75rem 3.4375rem 7.8125rem 4.6875rem;
}

@supports (padding-top: clamp( 0.9375rem , -1.8097527473rem  +  13.7362637363vw , 8.75rem )) {
  .page-blog__content {
    padding-top: clamp( 0.9375rem , -1.8097527473rem  +  13.7362637363vw , 8.75rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , -1.8097527473rem  +  13.7362637363vw , 8.75rem )) {
  .page-blog__content {
    padding-top: calc(0.9375rem + 7.8125 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , -1.4800824176rem  +  12.0879120879vw , 7.8125rem )) {
  .page-blog__content {
    padding-bottom: clamp( 0.9375rem , -1.4800824176rem  +  12.0879120879vw , 7.8125rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , -1.4800824176rem  +  12.0879120879vw , 7.8125rem )) {
  .page-blog__content {
    padding-bottom: calc(0.9375rem + 6.875 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-left: clamp( 0.9375rem , -0.3811813187rem  +  6.5934065934vw , 4.6875rem )) {
  .page-blog__content {
    padding-left: clamp( 0.9375rem , -0.3811813187rem  +  6.5934065934vw , 4.6875rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -0.3811813187rem  +  6.5934065934vw , 4.6875rem )) {
  .page-blog__content {
    padding-left: calc(0.9375rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-right: clamp( 0.9375rem , 0.0583791209rem  +  4.3956043956vw , 3.4375rem )) {
  .page-blog__content {
    padding-right: clamp( 0.9375rem , 0.0583791209rem  +  4.3956043956vw , 3.4375rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , 0.0583791209rem  +  4.3956043956vw , 3.4375rem )) {
  .page-blog__content {
    padding-right: calc(0.9375rem + 2.5 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7005494505rem  +  2.7472527473vw , 2.8125rem )) {
  .page-blog__title:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.7005494505rem  +  2.7472527473vw , 2.8125rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7005494505rem  +  2.7472527473vw , 2.8125rem )) {
  .page-blog__title:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 0.625rem , 0.0755494505rem  +  2.7472527473vw , 2.1875rem )) {
  .page-blog__text:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.0755494505rem  +  2.7472527473vw , 2.1875rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.0755494505rem  +  2.7472527473vw , 2.1875rem )) {
  .page-blog__text:not(:last-child) {
    margin-bottom: calc(0.625rem + 1.5625 * (100vw - 20rem) / 56.875);
  }
}

.page-blog__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*==================== SIGN-UP-PAGE ====================*/

.no-webp .page-sing-up{
  background: url(../img/bg/bg_signup.jpg) top/cover no-repeat; }

@supports (padding-top: clamp( 1.875rem , -0.5645604396rem  +  12.1978021978vw , 8.8125rem )) {
  .page-sing-up {
    padding-top: clamp( 1.875rem , -0.5645604396rem  +  12.1978021978vw , 8.8125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.5645604396rem  +  12.1978021978vw , 8.8125rem )) {
  .page-sing-up {
    padding-top: calc(1.875rem + 6.9375 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.3228021978rem  +  10.989010989vw , 8.125rem )) {
  .page-sing-up {
    padding-bottom: clamp( 1.875rem , -0.3228021978rem  +  10.989010989vw , 8.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.3228021978rem  +  10.989010989vw , 8.125rem )) {
  .page-sing-up {
    padding-bottom: calc(1.875rem + 6.25 * (100vw - 20rem) / 56.875);
  }
}

.page-sing-up__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

@supports (margin-bottom: clamp( 1.25rem , 0.5467032967rem  +  3.5164835165vw , 3.25rem )) {
  .page-sing-up__title:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.5467032967rem  +  3.5164835165vw , 3.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5467032967rem  +  3.5164835165vw , 3.25rem )) {
  .page-sing-up__title:not(:last-child) {
    margin-bottom: calc(1.25rem + 2 * (100vw - 20rem) / 56.875);
  }
}

.page-sing-up__text {
  font-size: 1.125rem;
  max-width: 26.25rem;
}

.page-sing-up__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.page-sing-up__form .form__error {
  position: absolute;
  bottom: -1.5625rem;
  font-size: 0.875rem;
  color: #ce0000;
}

.page-sing-up__input {
  width: 100%;
  padding: 0.875rem 0.9375rem;
  background: inherit;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 1.0625rem;
  outline: none;
}

.page-sing-up__input:not(:last-child) {
  margin-bottom: 0.625rem;
}

.page-sing-up__input::-webkit-input-placeholder {
  color: #ffffff;
}

.page-sing-up__input::-moz-placeholder {
  color: #ffffff;
}

.page-sing-up__input:-ms-input-placeholder {
  color: #ffffff;
}

.page-sing-up__input::-ms-input-placeholder {
  color: #ffffff;
}

.page-sing-up__input::placeholder {
  color: #ffffff;
}

.page-sing-up__btn {
  padding-left: 5rem;
  padding-right: 5rem;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .page-slider__slide {
    border: 0.75rem solid #ffffff;
  }

  .page-our-rider__images {
    max-height: 25.75rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .page-servises__container {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .page-sing-up__input {
    border-right: none;
  }

  .page-sing-up__input:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 61.99875em) {
  .menu__list {
    height: calc(100vh - 70px);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

@supports (width: clamp( 15rem , -15rem  +  40vw , 30rem )) {
    .menu__list {
      width: clamp( 15rem , -15rem  +  40vw , 30rem );
    }
}

@supports not (width: clamp( 15rem , -15rem  +  40vw , 30rem )) {
    .menu__list {
      width: calc(15rem + 15 * (100vw - 75rem) / 37.5);
    }
}

@supports (padding-top: clamp( 2.4375rem , -0.6215482221rem  +  4.9340482221vw , 4.3125rem )) {
    .menu__list {
      padding-top: clamp( 2.4375rem , -0.6215482221rem  +  4.9340482221vw , 4.3125rem );
    }
}

@supports not (padding-top: clamp( 2.4375rem , -0.6215482221rem  +  4.9340482221vw , 4.3125rem )) {
    .menu__list {
      padding-top: calc(2.4375rem + 1.875 * (100vw - 61.99875rem) / 38.00125);
    }
}

@supports (padding-right: clamp( 2.5rem , -3.6180964442rem  +  9.8680964442vw , 6.25rem )) {
    .menu__list {
      padding-right: clamp( 2.5rem , -3.6180964442rem  +  9.8680964442vw , 6.25rem );
    }
}

@supports not (padding-right: clamp( 2.5rem , -3.6180964442rem  +  9.8680964442vw , 6.25rem )) {
    .menu__list {
      padding-right: calc(2.5rem + 3.75 * (100vw - 61.99875rem) / 38.00125);
    }
}

  .page-main__content {
    padding-left: 15.625rem;
    text-align: left;
  }

  .page-slider__content {
    max-width: 17.5rem;
  }

  .page-blog__images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .page-blog__img {
    width: 33rem;
    height: 17.8125rem;
  }
}

@media (min-width: 65.3125em) {
  .page-slider__slider {
    position: absolute;
    bottom: -2.8125rem;
  }

@supports (right: clamp( 0.9375rem , -39.7447916667rem  +  60.8333333333vw , 5.5rem )) {
    .page-slider__slider {
      right: clamp( 0.9375rem , -39.7447916667rem  +  60.8333333333vw , 5.5rem );
    }
}

@supports not (right: clamp( 0.9375rem , -39.7447916667rem  +  60.8333333333vw , 5.5rem )) {
    .page-slider__slider {
      right: calc(0.9375rem + 4.5625 * (100vw - 66.875rem) / 7.5);
    }
}
}

@media (min-width: 76.875em) {
  .slider-shop__img {
    width: 16.875rem;
  }

  .page-blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 35.625rem;
  }
}

@media (max-width: 65.3125em) {
  .page-slider__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: auto;
    background-color: #000000;
    padding: 4.375rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 3;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    background-color: #000000;
    z-index: 4;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .page-sing-up__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) {
  .page-our-rider__container {
    text-align: center;
  }

  .page-sing-up__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background: #ffffff;
    color: #ce0000;
  }

  .header__logo:hover {
    text-shadow: 0 0 0.9375rem #ffffff;
  }

  .header__link:hover {
    text-shadow: 0 0 0.9375rem #ffffff;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .page-our-rider__image:hover {
    -webkit-transform: translateY(-2.5rem);
        -ms-transform: translateY(-2.5rem);
            transform: translateY(-2.5rem);
  }
}

@media (max-height: 35.625rem) {
  .page-main {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }
}

@media (max-height: 43.75rem) {
  .page-main__container {
    height: calc(100vh - 50px);
  }

  .page-slider {
    margin-top: 0rem;
    z-index: 2;
  }
}

@media (max-height: 25rem) {
  .page-main__container {
    height: 100%;
  }
}

.webp .footer__main{ background: url(../img/bg/bg_footer.webp) top/cover no-repeat; }

.webp .page-main{ background: url(../img/main-background.webp) center/cover no-repeat; }

.webp .page-servises{ background: url(../img/bg/bg_services.webp) top/cover no-repeat; }

.webp .page-testmoinals{ background: url(../img/bg/bg_comment.webp) top/cover no-repeat; }

.webp .page-shop{ background: url(../img/bg/bg_shop.webp) center/cover no-repeat; }

.webp .page-sing-up{ background: url(../img/bg/bg_signup.webp) top/cover no-repeat; }