/* font-family: "Lato", sans-serif; */
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #1b1b1b;
  font-family: "Lato", sans-serif;
  color: #ffffff;
}
.container {
  width: 1172px;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  background-image: url(./img/bg/bg_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-navigation {
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ce0000;
  text-decoration: none;
  list-style-type: none;
}
.footer-logo {
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: -0.75px;
  transition: color 0.2s ease-in;
}
.footer-logo strong {
  font-family: "Lato", sans-serif;
  padding-left: 13px;
}
.footer-logo span {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: -0.75px;
}
.footer-logo:hover {
  color: #1b1b1b;
}
.footer-nav__list {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
}
.footer-nav__list a {
  font-size: 23px;
  color: #ffffff;
  transition: color 0.2s ease-in;
}
.footer-nav__list a:hover {
  color: #1b1b1b;
}
.footer-nav__list li:not(:last-child) {
  margin-right: 30px;
}
.footer-content {
  position: relative;
}
.footer-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 300px;
  padding-left: 400px;
}
.footer__subtitle {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: -0.75px;
}
.footer__title {
  font-size: 117px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.footer-content p {
  font-size: 20px;
  margin-bottom: 50px;
}
.button {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.39px;
  text-decoration: none;
  background-color: #ce0000;
  cursor: pointer;
  transition: all 0.2s ease-in;
  padding: 20px 25px;
}
.button:hover {
  color: #ce0000;
  background-color: #ffffff;
}
.footer-nav-hidden {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  text-align: end;
  list-style-type: none;
}
.footer-nav-hidden_list {
  padding-right: 50px;
  margin-top: 50px;
}
.footer-nav-hidden a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 2.4;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.5px;
  transition: color 0.2s ease-in;
}
.footer-nav-hidden a:hover {
  color: #ce0000;
}

.rider {
  position: relative;
  height: 1120px;
  display: flex;
  align-items: center;
}
.club-info-wrapper {
  width: 1172px;
  height: 481px;
  background-color: #ce0000;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}
.club-info {
  padding: 63px 53px 0px;
}
.club-info__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 63px;
}
.club-info-desc {
  width: 345px;
}
.club-info-desc__subtitle {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 30px;
}
.club-info-desc p {
  font-size: 17px;
  padding-bottom: 40px;
}
.button-border {
  display: inline-block;
  border: 2px solid #ffffff;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: -0.75px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  padding: 14px 16px;
}
.button-border:hover {
  color: #ce0000;
  background-color: #ffffff;
}
.club-info-slider {
  width: 710px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: -20px;
  z-index: 2;
}
.arrow a {
  color: #ffffff;
  font-size: 33px;
  text-decoration: none;
  transition: color 0.2s ease-in;
}
.arrow a:hover {
  color: #1b1b1b;
}
.club-info-slider-img {
  width: 570px;
  height: 366px;
  border: 10px solid #ffffff;
  position: relative;
}
.club-info-slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.club-info-slider-img::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 10px solid #ffffff;
  background-image: url(./img/galery/biker2.jpg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotateZ(-5deg);
}

.our-riders__title {
  font-size: 51px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-bottom: 47px;
}
.our-riders p {
  font-size: 20px;
}
.riders {
  width: 100%;
  height: 410px;
  display: flex;
  position: absolute;
  left: 0;
  bottom: -38px;
}
.riders img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about {
  height: 532px;
  background-image: url(./img/bg/bg_about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
}
.about-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-block {
  width: 450px;
}
.about__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.58px;
  margin-bottom: 36px;
}
.about p {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 43px;
}

.comment {
  height: 552px;
  background-image: url(./img/bg/bg_comment.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
}
.comment-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 45px;
}
.comment-block {
  width: 535px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment-block-photo {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 47px;
}
.comment-block-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.comment-block p {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 46px;
}
.comment-block__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.39px;
  line-height: 2;
}
.comment-block__subtitle {
  font-size: 20px;
  font-style: italic;
  letter-spacing: -0.39px;
}
.comment-slider {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 0px 450px;
}
.arrow-red a {
  color: #ffffff;
  font-size: 33px;
  text-decoration: none;
  transition: color 0.2s ease-in;
}
.arrow-red a:hover {
  color: #ce0000;
}

.shop {
  height: 792px;
  background-image: url(./img/bg/bg_shop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shop__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 47px;
}
.shop p {
  font-size: 20px;
  margin-bottom: 70px;
}
.shop__slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-slider-bike__list {
  display: flex;
  list-style-type: none;
  margin: 0 50px;
}
.shop-slider-bike__item {
  width: 270px;
  height: 245px;
  position: relative;
  margin-right: 31px;
}
.shop-slider-bike__item:last-child {
  margin-right: 0;
}

.shop-slider-bike__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.shop-slider-bike__button {
  position: absolute;
  right: 50px;
  bottom: -30px;
}

/* -------------UTILS-------------- */
.none {
  display: none;
}
.margin {
  margin-bottom: 191px;
}
