.footer {
	background-color: #222222;
	// .footer__container
	&__container {
	}
	// .footer__header
	&__header {
		.footer__container {
			@include adaptiveValue("padding-top", 74, 20);
			@include adaptiveValue("padding-bottom", 60, 20);
			display: flex;
			justify-content: space-between;
		}
	}
	// .footer__main
	&__main {
		background: url(../img/bg/bg_footer.jpg) top/cover no-repeat;
		@include adaptiveValue("padding-top", 110, 30);
		@include adaptiveValue("padding-bottom", 160, 30);
		.footer__container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
			position: relative;
			z-index: 1;
			gap: rem(70);
		}
	}
	// .footer__about
	&__about {
	}
	// .footer__latest
	&__latest {
	}
	// .footer__contact
	&__contact {
	}
	// .footer__copyright
	&__copyright {
		@include adaptiveValue("padding-top", 30, 15);
		@include adaptiveValue("padding-bottom", 30, 15);
		text-align: center;
	}
}
.about-footer {
	// .about-footer__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 15);
		}
	}
	// .about-footer__text
	&__text {
		font-size: rem(17);
		color: #858585;
		line-height: 1.7;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 20);
		}
	}
	// .about-footer__link
	&__link {
	}
}
.latest-footer {
	// .latest-footer__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 15);
		}
	}
	// .latest-footer__content
	&__content {
		display: flex;
		flex-direction: column;
		row-gap: rem(30);
	}
	// .latest-footer__days
	&__days {
		display: flex;
		align-items: center;
		column-gap: rem(20);
	}
	// .latest-footer__day
	&__day {
		width: rem(63);
		height: rem(63);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $colorRed;
		text-transform: uppercase;
		& span {
			font-size: rem(30);
			font-weight: 700;
		}
	}
	// .latest-footer__description
	&__description {
	}
	// .latest-footer__event
	&__event {
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .latest-footer__text
	&__text {
		font-size: rem(17);
		color: #858585;
	}
}
.contact-footer {
	// .contact-footer__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 15);
		}
	}
	// .contact-footer__phone
	&__phone {
		display: block;
		@include adaptiveValue("font-size", 40, 25);
		font-weight: 700;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 42, 20);
		}
	}
	// .contact-footer__adress
	&__adress {
		& h4 {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 20, 15);
			}
		}
		& p {
			font-size: rem(17);
			color: #858585;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 55, 35);
		}
	}
	// .contact-footer__emails
	&__emails {
		display: flex;
		column-gap: rem(20);
	}
	// .contact-footer__subtitle
	&__subtitle {
		text-transform: none;
	}
	// .contact-footer__email
	&__email {
		font-size: rem(17);
		color: #858585;
		& a {
			display: block;
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}
	}
}
